<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>onlinestore</display-name>
	<welcome-file-list>
		<!-- Welcome file list is adjusted during the Exam task to create online store -->
		<!--
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		-->
		
		<welcome-file>homepage</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>helloWorldServlet</servlet-name>
		<servlet-class>com.itbulls.learnit.onlinestore.web.servlets.HelloWorldServlet</servlet-class>
		<init-param>
			<param-name>greetings</param-name>
			<param-value>Hello World</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>helloWorldServlet</servlet-name>
		<url-pattern>/hello-world</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextParam</param-name>
		<param-value>Context Param Value</param-value>
	</context-param>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>test-auth</web-resource-name>
			<url-pattern>/test-auth</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>client</role-name>
		</auth-constraint>

		<user-data-constraint>
			<!-- transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE -->
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<filter>
		<filter-name>helloFilter</filter-name>
		<filter-class>com.itbulls.learnit.onlinestore.web.filters.HelloWorldFilter</filter-class>
		<init-param>
			<param-name>initParam</param-name>
			<param-value>Init Param</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>helloFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.itbulls.learnit.onlinestore.web.listeners.SessionListener</listener-class>
	</listener>

	<error-page>
		<error-code>403</error-code>
		<location>/error-handler</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error-handler</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/not-found</location>
	</error-page>

</web-app>